

#wrapper{
    overflow: hidden;
}

#menu{
    height: 20vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    border-bottom: 1px solid black;

    .menu-row{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .vocabCategoryName, .botName{
        width: 30%;
        text-align: center;
    }

    button {
        border: none;
        text-align: center;
        text-decoration: none;
        padding: 1%;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid black;
        &:hover {  background-color: #00ffa3;  }
        &:focus { outline:0; }
    }
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    overflow: visible;
}

.canvas{
    //width: 33.333vw;
    //height: 100vh;
    //border: 1px solid red;
    border: 1px solid red;
}


.botContainer{
    width: 100%;
    height: 100%;
    //background-color: red;
    overflow: hidden;
    position: relative;
}



#playButton {
    width: 70px;
    height: 40px;
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.pauseContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &.hidden{
        display: none;
    }
}

.pauseScreen{
    flex-grow: 1;
    background-color: black;


    display: flex;
    align-items: center;

    svg {

        height: 100%;
        width: 70%;
        margin: auto;

        *{
            fill: white;
        }

    }

}