


.pauseContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;

    &.hidden{
        display: none;
    }

}

.pauseScreen{
    flex-grow: 1;
    background-color: black;


    display: flex;
    align-items: center;


    svg {

        height: 100%;
        width: 70%;
        margin: auto;

        *{
            fill: white;
        }

    }

}