

@keyframes fadeHighlight {
    0% {        background-color: mediumspringgreen; }
    100% {      background-color: white;    }
}

.highlight{
    background-color: mediumspringgreen;
    animation-name: fadeHighlight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#wrapper{
    width: 100vw;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;

}


.button{
    box-sizing: border-box;
    height: 30vh;
    border: 40px solid black;
    font-size: 5vh;
    font-family: monospace;
    margin: 2vh;
    background-color: white;
    text-align: center;
    position: relative;

    .btn-label{
        left: 0;
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, 50%);
        -moz-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        -o-transform: translate(0, 50%);
        transform: translate(0, 50%);
    }

    &.active{
        border-width: 80px;
    }

    &:hover{
        cursor: pointer;
        background-color: orangered;
    }
}