doctype html
html(lang="en")
    head
        title Parliament of Bots
        link(rel="stylesheet" href="css/terminal.css")
        script.
            window.__host__ = !{JSON.stringify(host)};
            window.__nsp__ = !{JSON.stringify(nsp)};
    body
        #app
        script(src="/terminal.bundle.js")
